doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/main.css")
        title login
    body.user_body 
        .user_box 
            .user_container 
                img(src="../images/logo/user_logo.svg", alt="green shop logo").icon_logo 
                br
                br
                br
                br
                h3 Login   #[br]#[br] 
                input(type="email", name="" placeholder="email kiriting")
                input(type="password", name="" placeholder="parol kiriting")
                p Forgot Password?
                <button class="user_btn"> <a href="../html/index.html"> Login</a></button> #[br]#[br]
                a(href="#").register Or login with 
                br
                br
                include ./include/face&goog.pug    
                br
                br
                br
                a(href="../html/user1.html").already Don't have an account? Sign Up                 