.left-two h3 {
    margin-top: 80px;
    font-size: 22px;
    margin-left: -20px;
}

.left-two p {
    margin-top: 15px;
    font-size: 18px;
    padding-top: 5px;
}

.left-two p.green {
    color: green;
}

.left-two span.green {
    display: flex;
    margin-left: 150px;
    margin-top: -370px;
    color: green;
}

.left-two span {
    display: flex;
    margin-left: 150px;
    padding-top: 22px;
    font-size: 16px;
}

.left-twobtn h3{
    margin-top: 40px;
    font-size: 22px;
    margin-left: -20px;
}

.left-twobtn span {
    color: green;
}

.left-twothree h3 {
    margin-top: 40px;
    font-size: 22px;
    margin-left: -20px;
}

.left-twothree p{
    margin-top: 10px;
    font-size: 18px;
}

.left-twothree span {
    display: flex;
        margin-left: 130px;
        font-size: 16px;
        margin-top: -60px;
        padding-top: 20px;
}

.left-twoimg img {
    margin-top: 80px;
    margin-left: -100px;
}