.right-flowers {
    display: flex;
}

.right-flowers .one {
    margin-left: 350px;
    margin-top: 50px;
}

.right-flowers .one span {
    color: green;
}

.right-flowers .two {
   margin-left: 50px;
    margin-top: 50px;
}

.right-flowers .two span {
    color: green;
}

.right-flowers .three {
    margin-left: 50px;
     margin-top: 50px;
 }
 
.right-flowers .three span {
     color: green;
}

.right-flower {
    display: flex;
    margin-top: 60px;
}

.right-flower .one {
    margin-left: 350px;
    margin-top: 50px;
}

.right-flower .one span {
    color: green;
}

.right-flower .two {
   margin-left: 50px;
    margin-top: 80px;
}

.right-flower .two span {
    color: green;
}

.right-flower .three {
    margin-left: 50px;
     margin-top: 80px;
 }
 
.right-flower .three span {
     color: green;
}

.right-flowerend {
    display: flex;
    margin-top: 40px;
}

.right-flowerend .one {
    margin-left: 350px;
    margin-top: 50px;
}

.right-flowerend .one span {
    color: green;
}

.right-flowerend .two {
   margin-left: 50px;
    margin-top: 50px;
}

.right-flowerend .two span {
    color: green;
}

.right-flowerend .three {
    margin-left: 50px;
     margin-top: 50px;
 }
 
.right-flowerend .three span {
     color: green;
}

