header 
    .logo    
        img(src="../images/logo/Logo.svg" alt="")                
    nav 
        -const  arr=[ "Home", "Shop", "Plant care","Blogs"]
            ol
                li 
                    a(href="#" style="font-weight: bold; color: black;") Home
                    .first
                li 
                    a(href="#") Shop
                li 
                    a(href="#") Plant care
                li 
                    a(href="#") Blogs
                //- each jahon in arr
                    
                //-     li=jahon
    .icon
        img(src=".././images/icon/search.svg" alt="icon")
        img(src=".././images/icon/basket.svg" alt="basket").icon_second
        button.logo_in 
            img(src="../images/icon/logo_in.svg" alt="logo in").btn_img
            p login

    hr(style="margin-top:10px;")